.NewToDoInput {
  width: 80%;
  padding: 10px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.NewToDo-Input:focus {
  outline: none;
}

.NewToDo-p {
  margin-bottom: 20px;
  font-size: 18px;
}

.NewToDo-Title {
  margin: 20px auto;
  font-size: 35px;
  font-weight: bold;
  background: -webkit-linear-gradient(35deg, var(--violeta), var(--rosado-persa));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 650px) {

  .NewToDo-Input {
    width: 100% !important;
  }
  .NewToDo-p{
    margin: 10px auto;
  }
}