.ToDoList {
    margin: 0;
    list-style: none;
    width: auto;
    height: 60%;
    /* Ajusta el ancho según sea necesario */
    max-height: 70vh;
    /* Define una altura máxima */
    overflow-y: auto;
    /* Habilita el scroll vertical cuando el contenido sea mayor */
    overflow-x: hidden;
    /* Evita el scroll horizontal innecesario */
    border: 0;
    /* Opcional: para visualizar los bordes */
    padding-inline-start: 0%;
}